.app-bar {

}

.app-bar .container {
    position: relative;
    background-color: rgb(165, 165, 173);
}

.app-bar .menu-toggle {
    position: absolute;
    left: 13px;
    top: 20px;
    font-size: 36px;
    line-height: normal;
    background-color: transparent;
}

.app-bar .logo-element {
    margin: 0 auto;
    text-align: center;
    padding: 10px 0 10px;
}

.navigation-bar {
    /* z-index: 1000;
    position: absolute;
    right: 1000px;
    top: 84px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000; */
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.navigation-bar .logo-element {
    margin: 0 auto;
    text-align: center;
    padding: 10px 0 10px;
    border-bottom: 1px solid white;
}
.navigation-bar-visible {
    width: 250px;
}

@media only screen and (min-width: 600px) {
    .navigation-bar {
        width: 250px;
    }

    .global-header .navbar-link-toggle {
        right: 0;
        top: 20px;
    }
    .global-header .logo-title {
        padding: 15px 0 15px;
    }
}


